// Body
$body-bg-gray: rgb(238, 238, 238);
$body-bg:rgb(238, 238, 238);
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$pad-right:p-r !default;
$pad-left:p-l !default;
$pad-both:p-x !default;
$pad-all:p-a !default;
$pad-top:p-t !default;
$pad-bottom:p-b !default;
$pad-tb:p-u !default;
$mar-right:m-r !default;
$mar-left:m-l !default;
$mar-both:m-x !default;
$mar-all:m-a !default;
$mar-top:m-t !default;
$mar-bottom:m-b !default;
$mar-tb:m-u !default;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
$pure_white:#fff;
// Navbar
$navbar-default-bg: #fff;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
$forground:#424242;
// Panels
$panel-default-heading-bg: #fff;
$input-theme-focus:lighten($forground, 25%);

/*** Global ***/

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
// Text fluid
$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;
$break-small:768px;
$break-large:992px;
// theme variables
$link-color:#469b36;
$theme-blue:#448aff;
$theme-yellow:#ffd740;
$blue: #007bff;
$indigo: #6610f2;
$vergendi:#2d4761;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #868e96;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #868e96;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;



$theme-color:$vergendi;
