<div class="login bg-theme">
  
  <div class="login-container" >
    <div class="login-container-inner" @pullup>
      <div class="bolb-loader pullup" [hidden]="luser">
        <div class="blob blob-0"></div>
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
        <div class="blob blob-4"></div>
        <div class="blob blob-5"></div>
      </div>  
      <div class="pullup title">

        <h1><a class="white-text" href="/">TripNTrade </a></h1>
      </div>
      <div class="login-block pullup white">
        
        <div class="login-header">
          
            <h4 class="text-theme">  Login</h4>
            <a href="" class=" button-icon google"></a> 
            <a href="" class=" button-icon facebook"></a>
         
        </div>
      </div>
      <div class="login-block pullup white">
        <form [formGroup]="lForm" (ngSubmit)="addPost()">  
          <div class="login-form">
            <div class="form-group">
              <label for="identity">Username/Email</label>
              <div class="" [ngClass]="{'input-group':luser.identity_disabled}">
              <input type="text" class="form-control"  placeholder="jhondhoe" id="identity" formControlName="identity">
              <span class="input-group-btn" [hidden]="!luser.identity_disabled">
                <button (click)="setEditMode()" class="button right" type="button"><i class="fa fa-pencil-alt"></i></button>
              </span>
              </div>
              
              <div *ngIf="lForm.controls.identity.invalid && (lForm.controls.identity.dirty || lForm.controls.identity.touched)"
                    class="alert text-danger">
                <div *ngIf="lForm.controls.identity.errors.required">
                  Username / Email is required.
                </div>
                <div *ngIf="lForm.controls.identity.errors.pattern">
                  This field require only alphanumeric carecters or a valid email address
                </div>
              </div>
            </div>
            <div class="form-group" [hidden]="!luser.pswd_show">
              <label for="pswd">Password</label>
              <div class="input-group">
                    <input type="password" name="pswd" class="form-control" required placeholder="Password" id="pswd" formControlName="pswd">
                    <span class="input-group-btn">
                      <button (click)="togglePasswordShow()"  class="button right" type="button"><i [hidden]="luser.show_pswd" class="fa fa-eye"></i><i [hidden]="!luser.show_pswd" class="fa fa-eye-slash"></i></button>
                    </span>  
              </div>
              
              <div *ngIf="lForm.controls.pswd.invalid && (lForm.controls.pswd.dirty || lForm.controls.pswd.touched)"
                    class="alert text-danger">

                <div *ngIf="lForm.controls.pswd.errors.required">
                  Password is required.
                </div>
                <div *ngIf="lForm.controls.pswd.errors.minLength">
                  Minimum 4 charecter
                </div>
                <div *ngIf="lForm.controls.pswd.errors.maxLength">
                  Maximum 20 charecter
                </div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="lForm.controls.identity.invalid" class="button button-theme button-full" type="submit" >
                <span [hidden]="formSubmitting">Next</span>  
                <span class="button-loader" [hidden]="!formSubmitting">
                  <div class="cs-loader">
                    <div class="cs-loader-inner">
                      <label>●</label>
                      <label>●</label>
                      <label>●</label>
                      <label>●</label>
                      <label>●</label>
                      <label>●</label>
                    </div>
                  </div>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="links pullup links-stend m-b-3">
        <a class="white-text" href="">Signup</a><a class="white-text" href="">Forget?</a>
      </div>
      <div class="links  links-center links-bottom">
        <span class="white-text ">&copy;{{today|date:'y'}} TripNTrade</span>
      </div>
    </div>
  </div>
</div>
