
.login{
    display: inline-block;
    width: 100vw;
    min-height: 100vh;
    &-container{
      overflow:auto;
    }
    &-block{
      opacity:1;
      visibility:visible;
      margin-top: 0;
      display:inline-block;
    }
    .links{
      &-stend{
        display:flex;
      }
    }
    &-header{
      box-shadow:inset -7px -8px 20px 2px rgba(0, 0, 0, 0.08);
    }
    .button {
      span.button-loader{
        display:flex;
        
        label{
          margin-bottom: 0;
        }
      }
      &.button-full{
        span.button-loader{
          height:39px;
        }
      }
    }
    
}


.cs-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:140px;
  left:50%;
  display:inline-block;
  transform:translateX(-50%);
}

.cs-loader-inner {
  transform: translateY(-50%);
  top: 40%;
  position: absolute;
  width: 20px;
  text-align: center;
}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:inline-block;
  color: #FFF;
  line-height:39px;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}