/* You can add global styles to this file, and also import other style files */

@import './assets/scss/_colors.scss';
@import './assets/scss/mixins.scss';
@import './assets/scss/_variables.scss';
@import './assets/scss/_default.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body {
  font-family: 'Lato', sans-serif;
  color: $text_color;
  overflow: hidden;
  overflow-x: auto;
}

h1 {
  font-size: 2.5rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  &-column{
    flex-direction:column;
  }
}

.full {
  width: 100%;
  height: 100%;
}

.content {
  display: none;
  .title {
    display: none;
  }
  .text {
    display: none;
  }
}

.text-theme {
  color: $vergendi;
}

a {
  color: $vergendi;
  &:hover {
    color: darken($vergendi, 5%);
  }
}

.bg-theme {
  background-color: $vergendi!important;
  color: #fff!important;
}

.login {
  width: 100vw;
  min-height: 100vh;
  &-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    flex-direction: column;
    &-inner{
      display:flex;
      flex:auto;
      align-items:stretch;
      flex-direction:column;
      width:100%;
      max-width:400px;
    }
    .links{
      display:flex;
      align-items: stretch;
      width: 100%;
      max-width: 400px;
      padding: 0px 10px 10px;
      &-center{
        justify-content:center;
      }
      &-stend{
        display:none;
        justify-content:space-between;
      }
      &-bottom{
          display:flex;
          align-items:flex-end;
          justify-content:center;
          flex:1;
      }
    }
  }
  &-block {
    width: 100%;
    display: none;
    max-width: 400px;
    min-height: 0;
    transition: all .3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    border-radius: 5px;
    @include box_shadow(0px 0px 5px 2px rgba(0, 0, 0, .3));
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 100px;
    form {
      padding: 20px 20px 0;
    }
  }
  .title{
    letter-spacing:3px;
    display: flex;
    align-self: center;
    flex-grow: inherit;
    align-items: center;
    &.big{
      min-height:300px;
    }
    h1{
      font-size:4rem;
      line-height:6rem;
      vertical-align:middle;
      text-align:center;
      width:100%;
      font-weight:700;
      a{
        @include transitions(all .3s ease);
        letter-spacing:3px;
        text-shadow:1px 1px 4px rgba(0,0,0,.8);
        text-decoration:none;
        &:hover{
          text-shadow:none;
          letter-spacing:1px;
        }
      }
    }
  }
  &-header {
    width: 100%;
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: flex-start;
    h4{
      padding:10px 20px;
      width:100%;
      letter-spacing: 2px;
      margin-bottom:0;
      i{
        float: right;
      }
    }
    .logo {
      width: 60px;
      height: 60px;
      position: relative;
      overflow: hidden;
      margin: 10px;
      img {
        width: 100%;
        height: 100%;
        display: inline-block;
      }
    }
  }
}

.button {
  align-items: baseline;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  background: #fff;
  border-radius: 3px;
  border-width: 0;
  box-sizing: border-box;
  color: $theme-color;
  cursor: default;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  margin: 5px;
  max-width: 100%;
  outline: none !important;
  pointer-events: auto;
  text-align: center;
  position: relative;
  text-decoration: none;
  transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  -webkit-transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  transition-duration: 0.1s, 0.15s;
  -webkit-transition-duration: 0.1s, 0.15s;
  vertical-align: middle;
  white-space: nowrap;
  border-color: white;
  border: .1px;
  border-style: outset;
  cursor: pointer;
  @include box_shadow( 0 1px 4px rgba(0, 0, 0, .3));
  &:hover,
  &:focus,
  &:active {
    @include box_shadow(0 0 1px rgba(0, 0, 0, .3));
  }
  &:disabled {
    cursor: none;
    pointer-events: none;
    background-color: lighten($vergendi, 5%);
  }
  &-full {
    width: 100%;
    padding: 0 8px;
    height: 39px !important;
    line-height: 39px !important;
  }
  &-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align:center;
    font-size:28px;
    &:last-of-type{
      margin-right: 10px;
    }
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &.facebook{
      background-image: url('./assets/svg/raw-svg/brands/facebook.svg');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &.google{
      background-image: url('./assets/svg/raw-svg/brands/google.svg');
      background-repeat: no-repeat;
      background-size: 98%;
      background-size:100%;
      background-position: center center;
      margin-right:5px;
    }
  }
  &-fav {
    @include border_radius(50%);
  }
  &-theme {
    color: #fff;
    background-color: $theme-color;
    &:hover {
      background-color: lighten($theme-color, 5%);
    }
  }
  span {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    &.button-loader {
      display: none;
    }
  }
}

.form-group {
  transition: all .3s ease-in-out;
  position: relative;
  margin-bottom: 10px;
  .input-group {
    line-height: 34px;
    .input-group-btn {
      line-height: 34px;
      .button {
        line-height: 34px;
        min-width: 38px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 0;
        height: 100%;
        &.right {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &.left {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }
  .alert {
    padding: 5px 0;
    margin-bottom: 10px;
    width: 100%;
    font-size: 80%;
    font-weight: normal;
  }
  &:focus-within {
    label {
      color: $vergendi;
    }
  }
  label {
    line-height: 1;
    vertical-align: middle;
    color: $text-color;
    width: 100%;
  }
}

.form-control {
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: transparentize($vergendi, .9);
    outline: 0;
    box-shadow: 0 0 10px 0px rgba(45, 71, 97, 0.3);
    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-moz-placeholder {
      color: #fff;
    }

    &::-moz-placeholder {
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }
  }
  &::-webkit-input-placeholder {
    color: #999;
  }

  &:-moz-placeholder {
    color: #999;
  }

  &::-moz-placeholder {
    color: #999;
  }

  &:-ms-input-placeholder {
    color: #999;
  }
}


.bolb-loader {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 230px;
  padding: 0;
  margin: 0;
  height: 120px;
  .blob {
    width: 2rem;
    height: 2rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 1rem);
    top: calc(50% - 1rem);
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.25);
  }

  .blob-2 {
    animation: animate-to-2 1.5s infinite;
  }
  .blob-3 {
    animation: animate-to-3 1.5s infinite;
  }
  .blob-1 {
    animation: animate-to-1 1.5s infinite;
  }
  .blob-4 {
    animation: animate-to-4 1.5s infinite;
  }
  .blob-0 {
    animation: animate-to-0 1.5s infinite;
  }
  .blob-5 {
    animation: animate-to-5 1.5s infinite;
  }
}

@keyframes animate-to-2 {
  25%,
  75% {
    transform: translateX(-1.5rem) scale(0.75);
  }
  95% {
    transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-3 {
  25%,
  75% {
    transform: translateX(1.5rem) scale(0.75);
  }
  95% {
    transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-1 {
  25% {
    transform: translateX(-1.5rem) scale(0.75);
  }
  50%,
  75% {
    transform: translateX(-4.5rem) scale(0.6);
  }
  95% {
    transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-4 {
  25% {
    transform: translateX(1.5rem) scale(0.75);
  }
  50%,
  75% {
    transform: translateX(4.5rem) scale(0.6);
  }
  95% {
    transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-0 {
  25% {
    transform: translateX(-1.5rem) scale(0.75);
  }
  50% {
    transform: translateX(-4.5rem) scale(0.6);
  }
  75% {
    transform: translateX(-7.5rem) scale(0.5);
  }
  95% {
    transform: translateX(0rem) scale(1);
  }
}

@keyframes animate-to-5 {
  25% {
    transform: translateX(1.5rem) scale(0.75);
  }
  50% {
    transform: translateX(4.5rem) scale(0.6);
  }
  75% {
    transform: translateX(7.5rem) scale(0.5);
  }
  95% {
    transform: translateX(0rem) scale(1);
  }
}
