

.coming-soon {
  width: 100vw;
  overflow: hidden;
  height: 100vh;

}

.content {
  width: 80%;
  max-width: 600px;
  display: inline-block;
  .title{
    display:inline-block;
    width:100%;
    text-align:center;
    h1{
      text-align:center;
      color:white;
      font-size:4rem;
      text-shadow: 1px 1px 4px rgba(0,0,0,.3);
      font-weight:900;
      letter-spacing:12px;
    }
  }
  .text {
    position: relative;
    text-align: center;
    width: 100%;
    display: inline-block;
    span {
      display: inline-block;
      font-size: 40px;
      font-weight: bolder;
      text-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.2);
    }
  }
}
