
<div class="coming-soon bg-theme">
  <div class="flex full flex-column" >
     <div class="bolb-loader pullup" [hidden]="load">
        <div class="blob blob-0"></div>
        <div class="blob blob-1"></div>
        <div class="blob blob-2"></div>
        <div class="blob blob-3"></div>
        <div class="blob blob-4"></div>
        <div class="blob blob-5"></div>
      </div>
    <div class="content">
      <div class="title" @titleSpread >
        <h1>Trip N Trade</h1>
      </div>
      <div class="text white-text" @comingSoon>
        <span>C</span>
        <span>o</span>
        <span>m</span>
        <span>i</span>
        <span>n</span>
        <span>g</span>
        &nbsp;
        <span>S</span>
        <span>o</span>
        <span>o</span>
        <span>n</span>
        &nbsp;
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </div>
    </div>
  </div>
</div>
